<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Trip Planner | INSERT DYNAMIC TITLE (HOME, ABOUT, CONTACT)</title>
	<link href="/stylesheets/oldschool.css" rel="stylesheet" type="text/css">

	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/stylesheets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<!-- NAV -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<p class="navbar-brand" id="logo">Trip Planner</p>
			<!-- <a class="navbar-brand" href=" DYNAMIC LINKS " id="logo">Trip Planner</a> -->
			<ul class="nav navbar-nav">
            <li><a href=" DYNAMIC LINKS">Home</a></li>
            <li><a href=" DYNAMIC LINKS ">About</a></li>
            <li><a href=" DYNAMIC LINKS ">Contact</a></li>
						<li><a href="#" id="oldschool-link" onClick="oldSchoolMode()">Time Travel</a></li>
      </ul>
			<span id="oldschool-welcome" class="oldschool-hide"><p>WELCOME TO THE #1 TRIP PLANNER ON THE WORLD WIDE WEB!!!!1!!</p></span>
		</div>
	</nav>

	<!-- MAIN CONTENT -->
	<main class="content">
		{% block content %}{% endblock %}
	</main>


	<!-- FOOTER -->
	<footer id="footer" class="container text-muted">
		Trip Planner by John Szymanowski and John Chen
	</footer>


	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW_E-6bJWU_b9Akcc6QnI94HGgoGV9u1k&sensor=true">
   </script>
	<script src="/js/map.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/oldschool.js"></script>
</body>

</html>
